body {
    font-family: Arial;
    background: white;
    color: black;
    text-align: center;
}

.dark {
    background: black;
    color: white;
}

section {
    padding: 20px;
    border-bottom: 1px solid gray;
}
